<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutoriales y Guías HTML</title>
    <link rel="stylesheet" href="/projects/vlog/css/tutoriales.css">
    <link rel="shortcut icon" type="image/png" href="/assets/EmoteBulldog 28x28.png">
</head>

<body>
 <header>
        <%- include('partials/header') %> 
    </header>
    <div class="main-content-hero">
        <h1 class="page-main-title text-center">Tutoriales y Guías De Programacion</h1>
        <p class="text-h-light-gray text-center page-description">Encuentra guías y tutoriales detallados sobre
            Angular, JavaScript, instalaciones de software, y recursos de ciberseguridad para desarrolladores y
            entusiastas.</p>
    </div>

    <main class="container">
        <div id="postsContainer" class="tutorials-list__cards-grid">
            <div class="tutorials-list__card">
                <div class="card-content">
                    <h4 class="card-title">
                        <a href="/articles/generador-contrasenas/" data-slug="generador-contrasenas">Generador de Contraseñas</a>
                    </h4>
                    <p class="card-category">Desarrollo Web</p>
                    <p class="card-description">Primero, necesitamos crear la interfaz HTML para nuestro generador de
                        contraseñas....</p>
                </div>

                <div class="card-footer">
                    <div class="card-stats">
                        <div class="card-views">
                            <img src="https://static.thenounproject.com/png/201934-200.png" width="24" height="24"
                                alt="People visited logo">
                            <p>0</p>
                        </div>
                        
                        <div class="card-comments">
                            <img src="https://cdn-icons-png.flaticon.com/512/1380/1380338.png" width="24" height="24"
                                alt="Chat logo">
                            <p>0</p>
                        </div>

                        <div class="card-web-link">
                            <a href="/articles/generador-contrasenas" data-slug="generador-contrasenas">
                                <img src="https://icon-library.com/images/url-icon-png/url-icon-png-7.jpg" width="24"
                                    height="24" alt="Web link logo">
                            </a>
                        </div>
                    </div>
                    <div class="card-meta">
                        <p class="card-date">Mar 0, 2025</p>
                        <p class="card-author">Por Ludwing D.</p>
                    </div>
                </div>
            </div>

            <div class="tutorials-list__card">
                <div class="card-content">
                    <h4 class="card-title">
                        <a href="/projects/vlog/html/como-instalar-tailwind-css-en-angular.html" data-slug="como-instalar-tailwind-css-en-angular">Como Instalar Tailwind Css en Angular</a>
                    </h4>
                    <p class="card-category">Desarrollo Web</p>
                    <p class="card-description">Instalar Tailwind CSS en Angular (v3.4.17)....</p>
                </div>

                <div class="card-footer">
                    <div class="card-stats">
                        <div class="card-views">
                            <img src="https://static.thenounproject.com/png/201934-200.png" width="24" height="24"
                                alt="People visited logo">
                            <p>0</p>
                        </div>
                        <div class="card-comments">
                            <img src="https://cdn-icons-png.flaticon.com/512/1380/1380338.png" width="24" height="24"
                                alt="Chat logo">
                            <p>0</p>
                        </div>

                        <div class="card-web-link">
                            <a href="/projects/vlog/html/como-instalar-tailwind-css-en-angular.html" data-slug="como-instalar-tailwind-css-en-angular">
                                <img src="https://icon-library.com/images/url-icon-png/url-icon-png-7.jpg" width="24"
                                    height="24" alt="Web link logo">
                            </a>
                        </div>
                    </div>
                    <div class="card-meta">
                        <p class="card-date">Mar 0, 2025</p>
                        <p class="card-author">Por Ludwing D.</p>
                    </div>
                </div>
            </div>

            <div class="tutorials-list__card">
                <div class="card-content">
                    <h4 class="card-title">
                        <a href="/projects/vlog/html/como-instalar-nvm-node.html" data-slug="como-instalar-nvm-node">Como Instalar NVM node</a>
                    </h4>
                    <p class="card-category">Desarrollo Web</p>
                    <p class="card-description">Instalar NMV node....</p>
                </div>

                <div class="card-footer">
                    <div class="card-stats">
                        <div class="card-views">
                            <img src="https://static.thenounproject.com/png/201934-200.png" width="24" height="24"
                                alt="People visited logo">
                            <p>0</p>
                        </div>
                        <div class="card-comments">
                            <img src="https://cdn-icons-png.flaticon.com/512/1380/1380338.png" width="24" height="24"
                                alt="Chat logo">
                            <p>0</p>
                        </div>

                        <div class="card-web-link">
                            <a href="/projects/vlog/html/como-instalar-nvm-node.html" data-slug="como-instalar-nvm-node">
                                <img src="https://icon-library.com/images/url-icon-png/url-icon-png-7.jpg" width="24"
                                    height="24" alt="Web link logo">
                            </a>
                        </div>
                    </div>
                    <div class="card-meta">
                        <p class="card-date">Mar 0, 2025</p>
                        <p class="card-author">Por Ludwing D.</p>
                    </div>
                </div>
            </div>

            <div class="tutorials-list__card">
                <div class="card-content">
                    <h4 class="card-title">
                        <a href="/projects/vlog/html/como-cambiar-versiones-en-angular.html" data-slug="como-cambiar-versiones-en-angular">Como Cambiar Versiones en Angular</a>
                    </h4>
                    <p class="card-category">Desarrollo Web</p>
                    <p class="card-description">Como cambiar versiones....</p>
                </div>

                <div class="card-footer">
                    <div class="card-stats">
                        <div class="card-views">
                            <img src="https://static.thenounproject.com/png/201934-200.png" width="24" height="24"
                                alt="People visited logo">
                            <p>0</p>
                        </div>
                        <div class="card-comments">
                            <img src="https://cdn-icons-png.flaticon.com/512/1380/1380338.png" width="24" height="24"
                                alt="Chat logo">
                            <p>0</p>
                        </div>

                        <div class="card-web-link">
                            <a href="/projects/vlog/html/como-cambiar-versiones-en-angular.html" data-slug="como-cambiar-versiones-en-angular">
                                <img src="https://icon-library.com/images/url-icon-png/url-icon-png-7.jpg" width="24"
                                    height="24" alt="Web link logo">
                            </a>
                        </div>
                    </div>
                    <div class="card-meta">
                        <p class="card-date">Mar 0, 2025</p>
                        <p class="card-author">Por Ludwing D.</p>
                    </div>
                </div>
            </div>
        </div>

        <button id="loadMoreButton" class="submit-button" style="display:none;">Cargar más</button>
    </main>

    <footer>
        <p>&copy; 2024 Ludwing Díaz. Todos los derechos reservados.</p>
    </footer>

    <script src="/projects/vlog/js/theme-switcher.js"></script>
    <script src="/projects/vlog/js/tutoriales.js"></script>
    <script src="/projects/vlog/js/auth.js"></script>
</body>

</html>